{{#with index}}
    {{>head}}
    {{>header}}

    <div class="page-header">
        <h1>Странички</h1>
    </div>
    <div class="list-group">
        {{#each items}}
            <a class="list-group-item" href="/{{this}}">{{this}}</a>
        {{/each}}
    </div>


    {{>footer}}
    {{>foot}}

{{/with}}
